@charset "utf-8";
/* CSS Document */

*{ margin:0 auto;}
#total{ width:200px; height:200px; float:left; z-index:0;}
#texto { width:27000px; height:100px; background-color:#393; float:left; z-index:2000; margin:-250px 0 0 15px;}
