/**
 * Ajustes gerais para as tiles stand-alone
 * Metro UI CSS - http://metroui.org.ua/tiles.html
 */
.metro .tile img {
	max-width: 100%;
}
.metro .tile .glyphicon {
	font-family: 'Glyphicons Halflings';
}
.metro .tile .fa {
	font-family: 'FontAwesome';
}
.woocommerce .star-rating span {
	font-family: 'star';
}
.metro .tile .tile-content.icon [class*="icon-"],
.metro .tile .tile-content.icon span {
	color: #ffffff;
	font-size: 48px;
	height: 56px;
	left: 50%;
	line-height: 56px;
	margin-left: -28px;
	margin-top: -28px;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 56px;
}